*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #505050;
    color: white;
    text-align: left;
    padding: 0;
}

h1 {
    margin-bottom: 100px;
    font-size: large;
}


.navigation{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
	padding: 10px;
    list-style: none;
    border: 1px solid  #333;
    background-color: #333;
}

.navigation a{
    font-family: Arial, sans-serif;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 200px;
  }


.container {
    display: grid;
    grid-template-columns: 3/4, 1/4;
    min-height: 400px;
}

main {
    grid-column: 1;
    flex-grow: 1;
    background-color: #eaeaea;
    padding: 1em;
}

aside {
    grid-column: 2;
    width: 25%;
    background-color: #f4f4f4;
    padding: 1em;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}